/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.thumbnail-img {
  height: 70vh;
  width: 90vh;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0px;
}
